.dp-warning {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #ff4d4d;
  color: white;
  padding: 10px 14px;
  margin-top: 5px;
  border-radius: 8px;
  z-index: 9999;
  font-size: 14px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

#dp-score {
  position: fixed;
  top: 20px;
  right: 20px;
  background: black;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 14px;
  z-index: 9999;
}
